::-moz-selection {
	background: black;
	color: white;
}

::selection {
	background: black;
	color: white;
}


body{
	margin:0;
}


.textarea{
	color:black;
	width:46%;
	height:94vh;
	position: absolute;
	top:38px;
	left:40px;
	border: none;
	background:rgb(100,100,100);
	overflow-y: auto;
	line-height: 1.606;
	font-size: 17.2px;
	font-family: Lucida Console;
}

#number0{
	background:rgb(100,100,100);
	width:40px;
	margin-right: 0;
	height: 611px;
	max-height:611px;
	overflow:hidden; 
	color:rgb(240,190,190);
	line-height: 1.606;
	font-size: 17.2px;
	display: none;
}
#number1{
	background:rgb(100,100,100);
	width:40px;
	margin-right: 0;
	height: 611px;
	max-height:611px;
	overflow:hidden; 
	color:rgb(240,190,190);
	line-height: 1.606;
	font-size: 17.2px;
	display: none;
}
#number2{
	background:rgb(100,100,100);
	width:40px;
	margin-right: 0;
	height:94vh;
	overflow: hidden;
	color:rgb(240,190,190);
	line-height: 1.606;
	font-size: 17.2px;
	display: none;

}
#tabs{
	padding-left: 40px;
}

span{
	display: flex;
    flex-direction: row;
    padding-left: 3px;
}

button{
	padding: 10px;
	border-bottom-color: rgb(100,200,40); 
	border-top:none;
	border-left:none;
	border-right:none;
	margin: 0px;
	background: rgb(100,200,40);
	color:white;
	width:100px;
	opacity: 0.5;
}

#tabs{
	background: rgb(100,200,40);
}

button:hover{
	border-bottom-color: rgb(0,0,160);
}
button:active{
	background: rgb(100,200,70);
}
iframe{
	position: absolute;
	left:660px;
	width:50.7%;
	top:38px;
	height: 93.8%;
}